* {
    margin: 0;
    padding: 0;

}

:root {
    --bg-color: hsl(233, 47%, 7%);
    --bg-color-card: hsl(244, 38%, 16%);
    --color-tertiary: hsl(277, 64%, 61%);

    --color-white: hsl(0, 0%, 100%);
    --color-white-2: hsla(0, 0%, 100%, 0.75);
    --color-white-3: hsla(0, 0%, 100%, 0.6);
}

html {
    font-size: 62.5%;
    box-sizing: inherit;
}

body {
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Lexend Deca', sans-serif; */
    font-size: 1.5rem;
    background-color: var(--bg-color);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card {
    max-width: 144rem;
    display: flex;
    background-color: var(--bg-color-card);
    /* margin-bottom: 40rem; */
}

.content {
    width: 50%;
}




.img {
    width: 50%;
    background-image: url(./images/image-header-desktop.jpg);
}



.attribution {
    position: absolute;
    bottom: 0;
}